#!/bin/bash

#######################################
# Colors
#######################################

CYAN='\033[0;36m'
GREEN='\033[0;32m'
BLUE='\033[0;34m'
RED='\033[0;31m'
NC='\033[0m'

#######################################
# Init
#######################################

echo -e "${GREEN}Installing packages...${NC}"

#######################################
# install distro-specific packages
#######################################

PACKAGES="zsh neovim python3-pip nodejs"

for pack in $PACKAGES
do
    {{ if eq .osid "linux-ubuntu" }}
    sudo apt install $pack
    {{ else if eq .osid "linux-fedora" }}
    sudo dnf install $pack
    {{ end }}
done

#######################################
# other
#######################################

# python 3 for nvim
python3 -m pip install pynvim

# change default shell to zsh
chsh -s $(which zsh)

# oh-my-zsh
sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"


echo -e "${CYAN}Script finished!${NC}"
