#!/bin/bash

set -e

#######################################
# Colors
#######################################

NC='\033[0m'
CYAN='\033[0;36m'
GREEN='\033[0;32m'
LGREEN='\033[1;32m'
BLUE='\033[0;34m'
LBLUE='\033[1;34m'
RED='\033[0;31m'

#######################################
# Init
#######################################

echo -e "${BLUE}Installing packages...${NC}"

#######################################
# install distro-specific packages
#######################################

PACKAGES=(
    zsh 
    neovim
    alacritty
    python3
    python3-pip 
    nodejs
)

# i3wm setup
read -p "$(echo -e "Do you wish to install packages to setup ${LGREEN}i3wm${NC} [y/N]: ")" yn

case $yn in
    [Yy]* ) PACKAGES+=(i3-gaps dunst feh rofi picom polybar brightnessctl NetworkManager-tui blueman pavucontrol);;
    * ) ;;
esac

{{ if eq .osid "linux-ubuntu" }}
    sudo apt-get install ${PACKAGES[@]}
{{ else if eq .osid "linux-fedora" }}
    # enable copr repo for i3status-rust
    sudo dnf copr enable atim/i3status-rust -y
    PACKAGES+=(i3status-rust)
    
    sudo dnf install ${PACKAGES[@]}
{{ end }}

#######################################
# other
#######################################

PYPKGS=(
    pynvim
)

# python 3 for nvim
for pkg in ${PYPKGS[@]}
do
    if ! pip list | grep $pkg > /dev/null; then
        python3 -m pip install $pkg
    else
        echo -e "${BLUE}INFO: ${LGREEN}[PY] ${pkg}${NC} already installed."
    fi
done

# oh-my-zsh
pkg=oh-my-zsh
if [ -z $ZSH ] ; then
    sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
else
    echo -e "${BLUE}INFO: ${LGREEN}${pkg}${NC} already installed."
fi

#######################################
# Commands
#######################################

# change default shell to zsh
if ! which zsh > /dev/null ; then
    chsh -s $(which zsh)
else
    echo -e "${BLUE}INFO: ${GREEN}chsh${NC} already done."
fi

echo -e "${CYAN}Script finished!${NC}"
